/* Custom styles to override MkDocs defaults and enhance theme */

/* Unordered list <ul> symbols:
 * - level 2 is hollow circle
 * - level 3 is filled square
 * - ul default is filled disc (bullet)
 */
article ul ul {
  list-style-type: circle !important;
}

article ul ul ul {
  list-style-type: square !important;
}

// .md-typeset__table {
  // width: 75%;
// }

// new class to set width of table to 75%
.md-typeset__table {
  width: 75%;
}

.md-typeset__table table:not([class]) {
  display: table
}

.center-table {
  text-align: center;
  /* width: 75%; */
  margin: auto;
}

.md-typeset .center-table :is(td,th):not([align]) {
  text-align: initial; /* Reset alignment for table cells */
}